body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

video {
  box-shadow: 0px 0px 6px 2px rgb(29, 37, 112);
}

a:link, a:visited {
  color: rgb(29, 37, 112);
  text-decoration: none;
}

a:hover, a:active {
  color: rgb(29, 37, 112, 0.6);
}

.project {
  padding: 0px 0px 5px 8px;
  margin: 0px 0px 0px 0px;
  background-color: rgb(177, 226, 177, 0.6);
}

