
body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

video, embed, img {
  box-shadow: 0px 0px 6px 2px rgb(29, 37, 112);
  margin: 0px 8px 0px 0px;
}

h2 > a {
  transition: letter-spacing 0.4s;  
}

h2 > a:hover, h2 > a:active {
  letter-spacing: 3px;
}

a:link, a:visited {
  color: rgb(16, 32, 188);
  text-decoration: none;
}

a:hover, a:active {
  color: rgba(66, 92, 248);
}

.project {
  padding: 0px 0px 5px 8px;
  background-color: rgba(177, 226, 177, 0.6);
  isolation: isolate;
}
